@mixin font($width: 400, $size: 16px, $height: 19px) {
    font-family: Lato, "Arial", sans-serif;
    font-weight: $width;
    font-size: $size;
    line-height: $height;
}

@mixin tablet {
    @media (max-width: $max-tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $max-mobile-width) {
        @content;
    }
}

@mixin container {
    @media (max-width: $min-container-width) {
        @content;
    }
}
