$dark-blue: #222222;
$gray-blue: #222224;
$pink: #f1e4e6;
$dark-pink: #f16d7f;
$deep-pink: #f26376;
$light-pink: #f8f3f4;
$brown: rgba(34, 22, 22, 0.7);
$grey: #9f9f9f;
$light-gray: #f8f8f8;
$smoke-gray: #e1e1e1;
$dark-grey: #5d5d5d;
$dull-gray: #656565;
$white: #ffffff;
$smoke-white: #f1f1f1;
$dark-white: #fbfbfb;
$black: #000000;
$dull-gray: #6f6e6e;
$silver: #a4a4a4;
$light-silver: #b1b1b1;
$wet-asphalt: #575757;
$smoke-white-border: #eaeaea;
$white-aluminum: #a4a4a4;
$smoke-white-background: #f5f3f3;
$smoke-gray-line: #e2e2e2;
$shadow: rgba(122, 122, 122, 0.5);
$bittersweet: #ff6a6a;
$dove-gray: #636363;
$alabaster: #f7f7f7;
$carousel-control-icon-background: rgba(42, 42, 42, 0.15);
$froly: #ef5b70;
$tundora: #4d4d4d;
$scorpion: #5e5e5e;
$gallery: #ebebeb;

$max-tablet-width: 1599px;
$max-mobile-width: 767px;
$min-container-width: 1159px;
