.subscribe {
    background-image: url(../img/subscribe_background.jpg);
    background-repeat: no-repeat;
    background-position: 30% center;
    background-size: cover;
    background-color: $smoke-white;

    &__wrapper {
        min-height: 448px;
        display: flex;
        justify-content: space-between;
        @include container {
            flex-wrap: wrap;
            min-height: 693px;
            flex-direction: column;
            align-items: center;
        }
        @include mobile {
            flex-wrap: wrap;
            min-height: 550px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__post {
        width: 360px;
        min-height: 225px;
        margin: 97px 0 0;
        @include container {
            margin: 54px 0 0;
        }
    }

    &__form-wrapper {
        width: 557px;
        min-height: 142px;
        margin: 150px 0 0;
        @include container {
            margin: 48px 0 140px;
        }
        @include mobile {
            width: 341px;
            margin: 59px 0 110px;
        }
    }

    &__image {
        display: block;
        margin: 0 auto 30px;
    }

    &__text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $gray-blue;
    }

    &__text-italic {
        font-style: italic;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 32px;
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__input {
        background-color: $smoke-gray;
        border: none;
        width: 256px;
        height: 49px;
        @include font(400, 14px, 17px);
        color: $gray-blue;
        padding: 0 0 0 22px;
        border-bottom-left-radius: 24px;
        border-top-left-radius: 24px;
        outline: none;
        @include mobile {
            width: 245px;
            height: 47px;
        }
    }

    &__button {
        background-color: $dark-pink;
        border: none;
        width: 100px;
        height: 49px;
        @include font(400, 14px, 17px);
        color: $white;
        border-bottom-right-radius: 24px;
        border-top-right-radius: 24px;
        @include mobile {
            width: 96px;
            height: 47px;
        }
    }
}
